<div class="container mt-4">

<!--  <div class="d-flex justify-content-between mb-4">
  <%= link_to "â†", home_path, class: "btn btn-outline-light btn-pill btn-bar text-gray btn-sm mx-1" %>
-->
    <div class="d-flex justify-content-between align-items-center">

      <button class="btn btn-outline-light btn-sm btn-pill dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">add my mendly</button>
        <ul class="dropdown-menu dropdown-menu-plus">
          <% @all_recommendations.each do |recommendation| %>
            <li class="mx-3">
              <%= button_to "##{recommendation.item.title}", list_recommendation_lists_path(@list, recommendation_id: recommendation.id), class: "btn-clean dropdown-menu-text" %>
            </li>
          <% end %>
        </ul>

      <%= link_to "create mendly", new_recommendation_path, class: "btn btn-outline-light btn-sm btn-filters"%>

      <div class="fa-solid fa-share-nodes fa-lg btn-dropdown text-light" type="div" data-bs-toggle="dropdown" aria-expanded="false"></div>
        <ul class="dropdown-menu dropdown-icons-plus p-3 mt-3">
          <%= link_to list_path(@list,check: "true"),class: "text-decoration-none" do %>
          <i class="fa-brands fa-instagram fa-2xl px-1" style="color: #bbb;"></i>
          <i class="fa-brands fa-square-facebook fa-2xl px-1" style="color: #bbb;"></i>
          <i class="fa-brands fa-square-whatsapp fa-2xl px-1" style="color: #bbb;"></i>
          <% end %>
        </ul>

      <%= link_to list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
                  class: "btn btn-pill btn-bar btn-sm" do%>
                  <i class="fa-solid fa-trash-can fa-lg" style="color: #999;"></i>
                  <% end %>
    </div>



  <div class="box-lists-one flex-grow-1 mt-3 me-2">
    <div>
<!--      <p><strong>COLLECTION</strong></p> -->
      <h1 class="box-lists-one-text mb-5"><%= @list.name %></h1>
  <div class="d-flex align-content-start flex-wrap w-100">
    <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
    <label class="form-check-label" for="flexSwitchCheckDefault">public</label>
  </div>
    </div>


  </div>


  <% category_colors = {
    "Film" => "#36c3bb",
      "Documentary" => "#36c3bb",
      "Animation" => "#36c3bb",
      "Comic Book" => "#a3f263",
      "Music" => "#36c3bb",
      "Book" => "#a3f263",
      "Graphic Novel" => "#a3f263",
      "Videogame" => "#ff7b62",
      "Podcast" => "#36c3bb",
      "TV Show" => "#36c3bb",
      "Youtube Channel" => "#36c3bb"
    } %>

  <% @recommendations.reverse_each do |recommendation| %>
      <%= link_to recommendation_path(recommendation), class: "box-cards flex-grow-1" do %>
        <div class="col">
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="card-item-title"><%= recommendation.item.title %></h5>

<!-- <%= link_to list_recommendation_list_path(@list) do %> -->
<!-- <% end %>  -->

        </div>
          <p class="badge rounded-pill" style="color: black; background-color: <%= category_colors[recommendation.item.category.name] %>;">
            #<%= recommendation.item.category.name %>
          </p>
          <p class="card-badge badge rounded-pill text-bg-secondary">@<%= recommendation.giver.nickname %></p>
          <p class="card-comment">/ <%= recommendation.comment %></p>

        </div>
      <% end %>

<!--  <div>  <%= link_to "x", list_recommendation_list_path(@list_recommendations),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
              class: "btn btn-outline-secondary btn-sm" %></div>
-->
      <% end %>
  </div>
</div>

<div class="navbar-bottom">
  <div class="navbar-icons d-flex justify-content-between">

    <%= link_to chatroom_path(Chatroom.last), class: "text-decoration-none" do %>
      <div class="text-navbar-bottom"><i class="fa-solid fa-smile fa-xl mb-3" style="color: #aaaaaa;"></i><p>AI librarian</p></div>
    <% end %>

    <%= link_to new_recommendation_path, class: "text-decoration-none" do %>
      <div class="text-navbar-bottom"><i class="fa-solid fa-plus fa-beat fa-xl mb-3" style="color: #aaaaaa;"></i><p>New mendly</p></div>
    <% end %>

    <%= link_to home_path, class: "text-decoration-none" do %>
      <div class="text-navbar-bottom"><i class="fa-solid fa-layer-group fa-xl mb-3" style="color: #aaaaaa;"></i><p>Library</p></div>
    <% end %>

  </div>
</div>
