<div class="container">

  <div class="box-lists">
    <h1 class="box-lists-text">Edit Recommendation</h1>
    <p>Here we will add a new recommendation</p>

    <%= simple_form_for(@recommendation) do |form| %>
      <div class="form-inputs text-white">
        <%= form.association :item, placeholder: "Name your recommendation", input_html: { class: "form-input-border" }%>
        <%= form.association :giver, label_method: :nickname, placeholder: "Who gave you this recommendation?", input_html: { class: "form-input-border" } %>
        <%= form.input :comment, placeholder: "Take a quick note about it", input_html: { class: "form-input-border" }%>

      </div>
    <% end %>
    <div class="form-actions mt-4 d-flex justify-content-center">
      <%= form.button :submit, 'Confirm', class: "btn btn-sm btn-primary rounded-pill p-2 w-100 mb-3" %>
    </div>

  </div>
</div>

<div class="navbar-bottom">
  <div class="navbar-icons d-flex justify-content-between">

    <%= link_to chatroom_path(Chatroom.last), class: "text-decoration-none" do %>
      <div class="text-navbar-bottom"><i class="fa-solid fa-smile fa-xl mb-3" style="color: #aaaaaa;"></i><p>AI librarian</p></div>
    <% end %>

    <%= link_to new_recommendation_path, class: "text-decoration-none" do %>
      <div class="text-navbar-bottom"><i class="fa-solid fa-plus fa-beat fa-xl mb-3" style="color: #aaaaaa;"></i><p>New mendly</p></div>
    <% end %>

    <%= link_to home_path, class: "text-decoration-none" do %>
      <div class="text-navbar-bottom"><i class="fa-solid fa-layer-group fa-xl mb-3" style="color: #aaaaaa;"></i><p>Library</p></div>
    <% end %>

  </div>
</div>
