<div class="container p-0 m-0" style="height: 100vh; display: flex; flex-direction: column;">

  <div class="image-container" style="flex: 1; overflow: hidden;">
      <%= image_tag("https://static01.nyt.com/images/2017/01/15/arts/15WAYNE/15WAYNE-articleLarge-v2.jpg?quality=75&auto=webp&disable=upscale", style: "width: 100%; height: 100%; object-fit: cover;", class: "") %>
  </div>

  <div class="box-recommendation">

    <h1><strong><%= @recommendation.item.title %></strong></h1>
    <h5>by <%= @recommendation.item.author %></h3>
    <h6><%= @recommendation.item.category.name %> recommended by @<%= @recommendation.giver.nickname %></h6>
    <hr>
    <p>Comment: <%= @recommendation.comment %></p>
    <hr>
    <p>Description: <%= @recommendation.item.description %></p>
    <p>Published/released: <%= @recommendation.item.release_date %></p>

    <button class="btn btn-outline-primary btn-sm btn-filters dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">add to list</button>
    <ul class="dropdown-menu dropdown-menu-plus">
      <% @lists.each do |list| %>
        <li class="mx-3">
          <%= button_to "##{list.name}", list_recommendation_lists_path(list, recommendation_id: @recommendation.id), class: "btn-clean dropdown-menu-text" %>
        </li>
      <% end %>
    </ul>

    <%= link_to "Edit", edit_recommendation_path(@recommendation), class: "btn btn-primary btn-bar text-white btn-sm mx-1" %>

    <%= link_to "Delete",
            recommendation_path(@recommendation),
            data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
            class: "btn btn-danger btn-bar text-white btn-sm" %>
  </div>

</div>
