<div class="container p-0 m-0 position-absolute" style="inset: 0">
  <div class="recommendation-image" style="background-image: url( <%= @image %>)">
  </div>

  <div class="box-recommendation">
    <div id="buttons" class="d-flex justify-content-between align-items-center mb-3">

    <button class="btn btn-outline-secondary btn-sm btn-pill dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">add to collection</button>
    <ul class="dropdown-menu dropdown-menu-plus">
      <% @lists.each do |list| %>
        <li class="mx-3">
          <%= button_to "##{list.name}", list_recommendation_lists_path(list, recommendation_id: @recommendation.id), class: "btn-clean dropdown-menu-text" %>
        </li>
      <% end %>
    </ul>

    <div class="fa-solid fa-share-nodes fa-lg btn-dropdown text-secondary" type="div" data-bs-toggle="dropdown" aria-expanded="false"></div>
      <ul class="dropdown-menu dropdown-icons-plus p-3 mt-3">
        <i class="fa-brands fa-instagram fa-2xl px-1" style="color: #bbb;"></i>
        <i class="fa-brands fa-square-facebook fa-2xl px-1" style="color: #bbb;"></i>
        <i class="fa-brands fa-square-whatsapp fa-2xl px-1" style="color: #bbb;"></i>
      </ul>

    </div>


    <h1><%= @recommendation.item.title %></h1>
    <h2>by <%= @recommendation.item.author %></h2>
    <h3><%= @recommendation.item.description %></h3>
    <h4>RELEASED: <strong><%= @recommendation.item.release_date %></strong></h4>

    <h5> mendled by @<%= @recommendation.giver.nickname %></h5>
    <h6>'<%= @recommendation.comment %>'</h6>

    <p class="d-inline-flex">
      <button class="btn flex-grow-1 border-0 text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Available on  <i class="fa-solid fa-arrow-up-right-from-square" style="color: #fff;"></i>
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body box-chat-intructions">
        <div><h2 class="text-white">Netflix</h2><p class="box-link"> netflix.com/title/80117799</p></div>
        <div><h2 class="text-white">RTP play</h2><p class="box-link"> rtp.pt/play/p12192/requiem</p></div>
        <div><h2 class="text-white">Apple TV</h2><p class="box-link"> tv.apple.com/us/show/foundation</p></div>
      </div>
    </div>


    <hr>
    <div id="buttons unimportant">
    <%= link_to "Edit", edit_recommendation_path(@recommendation), class: "btn btn-outline-secondary btn-pill btn-bar btn-sm mx-1" %>

    <%= link_to "Delete",
            recommendation_path(@recommendation),
            data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
            class: "btn btn-outline-secondary btn-pill btn-bar btn-sm" %>
    </div>

  </div>
    <div class="btn-back-top-left">
    <%= link_to "â†", home_path, class: "btn btn-outline-light btn-pill btn-bar text-gray btn-sm mx-1" %>
    </div>

</div>

<!-- navbar bottom-->
<div class="navbar-bottom">
  <div class="navbar-icons d-flex justify-content-between">

    <%= link_to chatroom_path(Chatroom.last), class: "text-decoration-none" do %>
      <div class="text-navbar-bottom"><i class="fa-solid fa-smile fa-xl mb-3" style="color: #aaaaaa;"></i><p>AI librarian</p></div>
    <% end %>

    <%= link_to new_recommendation_path, class: "text-decoration-none" do %>
      <div class="text-navbar-bottom"><i class="fa-solid fa-plus fa-beat fa-xl mb-3" style="color: #aaaaaa;"></i><p>New mendly</p></div>
    <% end %>

    <%= link_to home_path, class: "text-decoration-none" do %>
      <div class="text-navbar-bottom"><i class="fa-solid fa-layer-group fa-xl mb-3" style="color: #aaaaaa;"></i><p>Library</p></div>
    <% end %>

  </div>
</div>
