<div class="container chatroom">
<!--  <h1>Your<%= @chatroom.name %></h1>
-->

 <div class="messages">
    <% @chatroom.messages.each do |message| %>
      <div id="message-<%= message.id %>">

        <small>
        <div class="text-end mt-3">
          <strong><%= message.user.nickname %></strong>
          <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </div>
        </small>
        <div class="box-user">
          <div class="chatbox-text px-4 py-3"><%= message.content %>
          </div>
        </div>

        <% if message.gpt_response.present? %>
        <div class="gpt-response">
              <strong><p class="mt-3 mb-2">Mandy Lee:</p></strong>
              <div class="box-chatbot">
                <div class="px-4 py-3"><%= message.gpt_response %>
                </div>
              </div>
        </div>
      <% end %>

    </div>
  <% end %>
</div>

<div>
  <% if @chatroom && @message %>
      <%= simple_form_for [@chatroom, @message], html: { class: "m-0 p-0" } do |f| %>
    <div class="d-flex flex-row justify-content-between ">
      <div><%= f.input :content, label: false, placeholder: "Ask #{h(@chatroom.name)}", :input_html => { :class => 'chat-search-bar my-3 w-100' }%></div>
      <div><%= f.submit "Send", class: "btn btn-pill btn-outline-light my-3" %></div>
    </div>
      <% end %>
    <% else %>
      <!-- Handle the case where @chatroom or @message is nil -->
    <% end %>
</div>
