<div class="container chatroom">
  <h1>Your<%= @chatroom.name %></h1>

 <div class="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
</div>

<div class="body-search-bar">
  <% if @chatroom && @message %>
    <%= simple_form_for [@chatroom, @message], html: { class: "d-flex" } do |f| %>
      <%= f.input :content, label: false, placeholder: "Message ##{h(@chatroom.name)}", wrapper_html: { class: "flex-grow-1" } %>
      <%= f.submit "Send", class: "btn btn-light mb-3 custom-button" %>
    <% end %>
  <% else %>
    <!-- Handle the case where @chatroom or @message is nil -->
  <% end %>

</div>
