<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/home" do %>
      <!--<%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>-->
      <h1 class="navbar-mendly-brand">mendly</h1>
    <% end %>

    <% if user_signed_in? %>

      <div class="d-flex">

<!--         <a href="#" class="avatar">
          <%= image_tag "https://blog.redbubble.com/wp-content/uploads/2019/05/Grumpy-Cat-Blog-Square.png", class: "avatar", alt: "profile pic" %>
        </a>
-->
        <a href="#" class="avatar mr-1" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag "https://blog.redbubble.com/wp-content/uploads/2019/05/Grumpy-Cat-Blog-Square.png", class: "avatar", alt: "dropdown menu" %>
        </a>
<!--
               <a href="#" class="avatar mr-1" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag "https://i.pinimg.com/1200x/a3/8b/d1/a38bd1248d121d1302c4126fb859accb.jpg", class: "avatar", alt: "dropdown menu" %>
        </a>
-->
      <div>

                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-plus mx-4" aria-labelledby="navbarDropdown">

                    <%= link_to "Profile", "#", class: "dropdown-item dropdown-menu-text" %><!--link_to user_path-->
                    <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item dropdown-menu-text" %>
                  </div>


<!--               <li class="nav-item active">
                  <%= link_to "Home", "#", class: "nav-link" %>
                </li>
-->
      </div>
      </div>
              <% else %>
                <li class="nav-item">
                  <%= link_to "Login", new_user_session_path, class: "nav-link" %>
                </li>
          <% end %>
        </ul>
      </div>

  </div>
</div>
