<div id="wrapper">


<!-- filter group-->


<!-- number of results-->
<!--
  <div class="mx-3 my-0">
    <p>25 results of <strong>#movies</strong></p>
  </div>
<hr>
-->

<!-- lists-->

  <div class="d-flex justify-content-between flex-grow-1 mx-3 my-3 align-items-center">
    <button class="btn-collapse" type="button" data-bs-toggle="collapse" data-bs-target="#collapseList" aria-expanded="false" aria-controls="collapseLists">
       My collections
    </button>

    <div>
      <%= link_to "+ new list", new_list_path, class: "btn btn-outline-light btn-sm btn-filters" %>
    </div>
  </div>

  <div class="collapse" id="collapseList">
    <div class="card card-body block-collapse">
      <div class="d-flex align-content-start flex-wrap w-100">
        <% @lists.reverse_each do |list| %>
          <div class="box-lists flex-grow-1">
            <%= link_to list.name, list, class: "box-lists-text" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<!-- recommendations-->

  <div class="d-flex justify-content-between flex-grow-1 mx-3 my-3 align-items-center">
    <button class="btn-collapse" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRecommendations" aria-expanded="false" aria-controls="collapseRecommendations">
       My mendlies
    </button>

    <div>
      <%= link_to "+ new mendly", new_recommendation_path, class: "btn btn-outline-light btn-sm btn-filters"%>
    </div>

  </div>

  <div class="mx-3 mt-3">
    <div class="row d-flex justify-content-center my-2 me-1">
      <%= form_with url: home_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control  btn-pill",
              placeholder: "search my mendlies",
              style: "background-color: rgba(250, 250, 250, 100);
              border:none;"%>

          <%= submit_tag "→", name: "", class: "btn btn-outline-light btn-pill ms-2"%>
      <% end %>
    </div>
  </div>


  <div class="collapse show" id="collapseRecommendations">
    <div class="card card-body block-collapse">
      <div class="d-flex align-content-start flex-wrap w-100">
        <% category_colors = {
            "Film" => "#F72585",
            "Documentary" => "#F72585",
            "Animation" => "#F72585",
            "Comic Book" => "#4cc9f0",
            "Music" => "#F72585",
            "Book" => "#0d9d",
            "Graphic Novel" => "#4cc9f0",
            "Videogame" => "#4361ee",
            "Podcast" => "#820ead",
            "TV Show" => "#F72585",
            "Youtube Channel" => "#F72585",
            "App" => "#4361ee"
          } %>

        <div class="d-flex align-content-start flex-wrap w-100">
          <% @recommendations.reverse_each do |recommendation| %>
            <%= link_to recommendation_path(recommendation), class: "box-cards flex-grow-1" do %>
              <div class="col">
                <div class="d-flex justify-content-between align-items-center">
                  <h5 class="card-item-title mb-0"><%= recommendation.item.title %></h5>
                  <div>
                    <div class="fa-solid fa-circle-plus btn-dropdown" type="div" data-bs-toggle="dropdown" aria-expanded="false"></div>
                    <ul class="dropdown-menu dropdown-menu-plus">
                      <% @lists.each do |list| %>
                        <li class="mx-3">
                          <%= button_to "##{list.name}", list_recommendation_lists_path(list, recommendation_id: recommendation.id), class: "btn-clean dropdown-menu-text" %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
                <p class="badge rounded-pill" style="color: white; background-color: <%= category_colors[recommendation.item.category.name] %>;">
                  #<%= recommendation.item.category.name %>
                </p>
                <p class="card-badge badge rounded-pill text-bg-secondary">@<%= recommendation.giver.nickname %></p>
                <p class="card-comment">/ <%= recommendation.comment.truncate(100) %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- navbar botttom -->

<div class="navbar-bottom">
  <div class="navbar-icons d-flex justify-content-between">

    <%= link_to chatroom_path(Chatroom.last), class: "text-decoration-none" do %>
      <div class="text-navbar-bottom"><i class="fa-solid fa-smile fa-xl mb-3" style="color: #aaaaaa;"></i><p>AI librarian</p></div>
    <% end %>

    <%= link_to new_recommendation_path, class: "text-decoration-none" do %>
      <div class="text-navbar-bottom"><i class="fa-solid fa-plus fa-beat fa-xl mb-3" style="color: #aaaaaa;"></i><p>New mendly</p></div>
    <% end %>

    <%= link_to home_path, class: "text-decoration-none" do %>
      <div class="text-navbar-bottom"><i class="fa-solid fa-layer-group fa-xl mb-3" style="color: #aaaaaa;"></i><p>Library</p></div>
    <% end %>

  </div>
</div>
