<div id="wrapper">

<!-- top title and subtitle -->

  <div id="top-block" class="mx-3 mt-5">
      <div id="title-copy">
        <h1 class="title-landing">Never have I ever...</h1>
      </div>

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <p class="subtitle-landing pe-5">Forgot a friend's recommendation</p>
          </div>
          <div class="carousel-item">
            <p class="subtitle-landing pe-5">Wasted time deciding what to watch</p>
          </div>
          <div class="carousel-item">
            <p class="subtitle-landing pe-5">Took a note and forgot about it</p>
          </div>
        </div>
      </div>

    <div id="main-image" class="d-flex justify-content-between mw-100 overflow-hidden">
      <img src="https://res.cloudinary.com/div6oduuz/image/upload/v1693913305/landing-1_zu9mvs.png" class="img-title ms-4 img-fluid"/>
    </div>

  </div>

<!-- top image and download button -->

  <div id="middle-block"  class="box-landing-middle mx-3">

    <div id="btn-download" class="mb-3">
        <%= link_to "start recommending", splash_path, class: "btn-download" %>
    </div>

    <div class="subtitle-landing pe-1 pt-4">Mendly helps you organize, browse and share cultural recommendations you receive from your friends</div>
    </div>

  </div>

<!-- mandy lee and advantages -->

  <div id="middle-advantages">

    <section id="how-it-works" class="pt-5 box-advantages">
      <div class="container">
        <div class="text-center mb-3">
          <h2 class="title-landing-small">How It Works</h2>
          <p>A personal librarian comitted to organise and find anything for you in seconds </p>
        </div>

        <div class="row">

          <div class="col-md-4">
          <div class="box-card-advantages">
                <h5 class="title-landing-card">No More Lost Recommendations</h5>
                <p>The powerful AI Language model</p>
          </div>
          </div>

          <div class="col-md-4">
          <div class="box-card-advantages">
                <h5 class="title-landing-card">Quick Conversational</h5>
                <p>Chat with your personal AI Librarian, and save recommendations in seconds.</p>
          </div>
          </div>

          <div class="col-md-4">
          <div class="box-card-advantages">
                <h5 class="title-landing-card">Find things easily</h5>
                <p>Easily locate your saved recommendations, including who recommended them.</p>
          </div>
          </div>

          <div class="col-md-4">
          <div class="box-card-advantages">
                <h5 class="title-landing-card">Add personal notes</h5>
                <p>Remember why you thought that was worth remembering</p>
          </div>
          </div>

          <div class="col-md-4 mb-0">
          <div class="box-card-advantages">
                <h5 class="title-landing-card">Share with Friends</h5>
                <p>Share your finds with friends, bonding over your shared interests.</p>
          </div>
<!--          <div class="img-bubble">
            <img class="mt-0 img-bubble" src= https://res.cloudinary.com/div6oduuz/image/upload/v1694041150/balao-mandy_tqtmvu.png>
          </div>
-->          </div>
    <div id="img-how-mandy" class="img-how-mandy mw-100 overflow-hidden">
      <img src="https://res.cloudinary.com/div6oduuz/image/upload/v1694040229/mandy-landing_dkrwro.png" class="img-how-mandy"/>
    </div>

      </div>
    </section>

  </div>

  <div id="carouselExampleControls" class="carousel slide box-carousel" data-ride="carousel">
    <div class="carousel-inner text-testimonials"">
      <div class="carousel-item active px-3 py-4">
        <div class="mb-2"><%= image_tag "https://res.cloudinary.com/div6oduuz/image/upload/c_thumb,w_200,g_face/v1694167989/thumb-beard_mg6pnx.jpg", class: "avatar-large", alt: "profile pic" %></div>
        <div style="color: white">"Mendly has changed the way I keep track of all my recommendations! It's a lifesaver." - Chris B.</div></strong>
      </div>

      <div class="carousel-item px-3 py-3">
        <div class="mb-2"><%= image_tag "https://res.cloudinary.com/div6oduuz/image/upload/c_thumb,w_200,g_face/v1694167989/thumb-pink_csbkk4.jpg", class: "avatar-large", alt: "profile pic" %></div>
        <div class="text-testimonials"style="color: white">"I can't believe how much time I used to waste searching for notes. It's a game-changer." - Zaza I.</div>
      </div>

      <div class="carousel-item px-3 py-3">
        <div class="mb-2"><%= image_tag "https://res.cloudinary.com/div6oduuz/image/upload/c_thumb,w_200,g_face/v1694167989/thumb-geek_c9ae0u.jpg", class: "avatar-large", alt: "profile pic" %></div>
        <div class="text-testimonials"style="color: white">"Just love it!!!! It's easy to add and find stuff. I use it for all my media." - Sofia X.</div>
      </div>
    </div>
  </div>

  <section class="conclusion bg-light py-4">
    <div class="container text-center">
      <h4>Say goodbye to recommendation chaos. Join us in the quest for lost gems.</h4>
        <div id="btn-download" class="my-4">
          <%= link_to "start recommending", splash_path, class: "btn-download" %>
        </div>
    </div>

    </section>

</div>


<!--  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
-->
</div>

<!--
    <section class="testimonials bg-light py-5">
      <div class="container text-center">
        <h4>What people are saying</h4>
          <div class="card">
          </div>
            <div class="card">
              </div>
            <div class="card">
            <p>"Sharing is a big part of who I am, and Mendly makes it easier than ever." - Emily G.</p>
          </div>
            <div class="card">
              <p>"My music collection is way more organized than my movies and TV shows. I depend on friends' recommendations for that!" - Music Aficionado</p>
                </div>
                  <div class="card">
                    <p>"Every time I meet someone, I have those 'aha!' moments, but I don't want to be glued to my phone. So, I end up losing the moment and the recommendation." - Friendly Explorer</p>
                  </div>
                    <div class="card">
                    <p>"Whenever I meet someone, I have those 'aha!' moments, but I don't want to be glued to my phone. So, I end up losing the moment and the recommendation." - Friendly Explorer</p>
                  </div>
                <div class="card">
              <p>"Managing my music is easier than my movies and shows. I rely on friends' recommendations for that!" - Music Lover</p>
            </div>
        </div>
    </section>

    <section class="about-us bg-light py-5">
        <div class="container text-center">
            <h4>About Us:</h4>
            <p>At Mendly, we're on a mission to rescue the lost art of recommendation sharing. We understand that in this era of information overload, real, honest, and personal recommendations are precious gems in the digital chaos.</p>
        </div>

    Q&A - LATER LINK TO THE FOOTER PAGE
    </section>

        <section class="faqs bg-light py-5">
        <div class="container text-center">
            <h4>FAQs:</h4>
            <p><strong>Q1:</strong> How does Mendly make recommendation management easy?<br>
            <strong>Answer:</strong> Mendly simplifies recommendation management with our user-friendly chatbot, Mandy Li, and an intuitive tagging system.</p>

            <p><strong>Q2:</strong> Is my data secure with Mendly?<br>
            <strong>Answer:</strong> Absolutely! We take data security seriously and ensure your personal information is protected.</p>

            <p><strong>Q3:</strong> Can I use Mendly to recommend content to my friends?<br>
            <strong>Answer:</strong> You sure can! Mendly encourages you to share your own recommendations with friends, fostering deeper connections.</p>

            <p><strong>Q4:</strong> How do I invite friends to join Mendly?<br>
            <strong>Answer:</strong> Inviting friends is a breeze. Just use our built-in feature to send them an invite and get ready to discover and share together.</p>

            <p><strong>Q5:</strong> What sets Mendly apart from other note-taking apps?<br>
            <strong>Answer:</strong> Mendly is tailor-made for recommendation lovers. We focus on the joy of sharing and discovering content, making it a unique solution for recommendation management.</p>
        </div>
    </section>
-->


    <footer class="bg-dark text-white py-3">
        <div class="container text-center">
            <p>&copy; 2023 Mendly. All rights reserved.</p>
            <nav>
                <a href="#">Support</a> |
                <a href="#">Tutorial</a> |
                <a href="#">Contact Us</a>
            </nav>
            <!-- Add your social media icons or links here -->
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
